<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/main.css">
	<title>Горефотограф</title>
</head>
<body>
	<header><a href="https://vk.com/gorephotographer"><img src="../static/images/logo.png" alt=""></a></header>
	<div class="posts">
		{% include 'posts.html' %}
	</div>
	<footer><a href="https://github.com/middelmatigheid/gorephotographer-site-vkapi">middelmatigheid 21-06-2023</a></footer>
	<script src="../static/js/main.js" type="text/javascript"></script>
</body>
</html>